:root {
  --main-text-color: #262626;
  --secondary-text-color: #6d6d6d;

  --cta-button-color: #3300cc;
  --cta-button-disabled-color: #bcabee;
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/FuturaPTBook.otf') format('opentype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/FuturaPTMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/FuturaPTBold.otf') format('opentype');
}

@font-face {
  font-family: 'Termina';
  font-style: normal;
  font-weight: 700;
  src: url('assets/fonts/TerminaBold.otf') format('opentype');
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Termina';
  color: var(--main-text-color);
  margin: 0;
}

p {
  font-family: 'Futura PT';
  color: var(--main-text-color);
  margin: 0;
}

button {
  font-family: 'Futura PT';
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
