:root {
  --main-text-color: #262626;
  --secondary-text-color: #6d6d6d;

  --cta-button-color: #3300cc;
  --cta-button-disabled-color: #bcabee;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/FuturaPT-Book.ttf') format('opentype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 500;
  src: url('assets/fonts/FuturaPT-Medium.ttf') format('opentype');
}

@font-face {
  font-family: 'Futura PT';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/FuturaPT-Bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Termina';
  font-style: normal;
  font-weight: 600;
  src: url('assets/fonts/Termina-Bold.otf') format('opentype');
}

h1 {
  font-family: 'Termina';
  color: var(--main-text-color);
  margin: 0;
}

p {
  font-family: 'Futura PT';
  color: var(--main-text-color);
  margin: 0;
}
